{% extends 'admin/master.html' %}
{% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo_transparent.png') }}" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}
{% block body %}
    <style>
        /*@media (min-width: 1200px)*/
        .container {
            width: 98vw;
        }
        .row {
            display: flex;
            flex-direction: row; /* NEW */
        }
        @media screen and ( max-width: 500px ) {
             .row { flex-direction: column; }
           }
    </style>
    <div style="text-align:center">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
                    src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
                    async>
                {
                    "symbols"
                :
                    [
                        {
                            "description": "ETH/USDT",
                            "proName": "BINANCE:ETHUSDT"
                        },
                        {
                            "description": "DOGE/USDT",
                            "proName": "BINANCE:DOGEUSDT"
                        },
                        {
                            "description": "BTC/USDT",
                            "proName": "BINANCE:BTCUSDT"
                        },
                        {
                            "description": "LTC/UDST",
                            "proName": "BINANCE:LTCUSDT"
                        },
                        {
                            "description": "XRP/USDT",
                            "proName": "BINANCE:XRPUSDT"
                        },
                        {
                            "description": "BNB/USDT",
                            "proName": "BINANCE:BNBUSDT"
                        },
                        {
                            "description": "AXS/USDT",
                            "proName": "BINANCE:AXSUSDT"
                        }
                    ],
                        "showSymbolLogo"
                :
                    true,
                        "colorTheme"
                :
                    "dark",
                        "isTransparent"
                :
                    true,
                        "displayMode"
                :
                    "adaptive",
                        "locale"
                :
                    "ru",
                        "largeChartUrl"
                :
                    "https://cryptogod.pythonanywhere.com/admin/"
                }
            </script>
        </div>
        <style>
            .dropbtn {
                background-color: #37bc9b;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
            }

            .dropbtn:hover, .dropbtn:focus {
                background-color: #37bc9b;
            }

            #myInput {
                box-sizing: border-box;
                background-image: url('searchicon.png');
                background-position: 14px 12px;
                background-repeat: no-repeat;
                font-size: 16px;
                padding: 14px 20px 12px 45px;
                border: none;
                border-bottom: 1px solid black;
            }

            #myInput:focus {
                outline: 3px solid black;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: black;
                min-width: 230px;
                overflow: auto;
                border: 1px solid black;
                z-index: 1;
            }

            .dropdown-content a {
                color: white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            .dropdown a:hover {
                background-color: black;
            }

            .show {
                display: block;
            }
        </style>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Поиск валюты</button>
            <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Поиск.." id="myInput" onkeyup="filterFunction()">
                {% for i in coins %}
                    <a href="{{ url_for('admin.index', tvwidgetsymbol=i) }}">{{ i }}</a>
                {% endfor %}
            </div>
        </div>

        <script>
            /* When the user clicks on the button,
            toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            function filterFunction() {
                var input, filter, ul, li, a, i;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                div = document.getElementById("myDropdown");
                a = div.getElementsByTagName("a");
                for (i = 0; i < a.length; i++) {
                    txtValue = a[i].textContent || a[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                    } else {
                        a[i].style.display = "none";
                    }
                }
            }
        </script>
        <div class="row">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>
              <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
              {
              "symbol": "BINANCE:BTCUSDT",
              "width": "100%",
              "height": "220",
              "locale": "ru",
              "dateRange": "12M",
              "colorTheme": "dark",
              "trendLineColor": "rgba(41, 98, 255, 1)",
              "underLineColor": "rgba(41, 98, 255, 0.3)",
              "underLineBottomColor": "rgba(41, 98, 255, 0)",
              "isTransparent": true,
              "autosize": false,
              "largeChartUrl": "https://cryptogod.pythonanywhere.com/admin/"
            }
              </script>
            </div>
            <!-- TradingView Widget END -->
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>
              <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
              {
              "symbol": "BINANCE:ETHUSDT",
              "width": "100%",
              "height": "220",
              "locale": "ru",
              "dateRange": "12M",
              "colorTheme": "dark",
              "trendLineColor": "rgba(41, 98, 255, 1)",
              "underLineColor": "rgba(41, 98, 255, 0.3)",
              "underLineBottomColor": "rgba(41, 98, 255, 0)",
              "isTransparent": true,
              "autosize": false,
              "largeChartUrl": "https://cryptogod.pythonanywhere.com/admin/"
            }
              </script>
            </div>
            <!-- TradingView Widget END -->
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>
              <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
              {
              "symbol": "BINANCE:BNBUSDT",
              "width": "100%",
              "height": "220",
              "locale": "ru",
              "dateRange": "12M",
              "colorTheme": "dark",
              "trendLineColor": "rgba(41, 98, 255, 1)",
              "underLineColor": "rgba(41, 98, 255, 0.3)",
              "underLineBottomColor": "rgba(41, 98, 255, 0)",
              "isTransparent": true,
              "autosize": false,
              "largeChartUrl": "https://cryptogod.pythonanywhere.com/admin/"
            }
              </script>
            </div>
            <!-- TradingView Widget END -->
        </div>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
                    src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
                {
                    "colorTheme"
                :
                    "dark",
                        "dateRange"
                :
                    "12M",
                        "showChart"
                :
                    true,
                        "locale"
                :
                    "ru",
                        "width"
                :
                    "100%",
                        "height"
                :
                    700,
                        "largeChartUrl"
                :
                    "https://cryptogod.pythonanywhere.com/admin/",
                        "isTransparent"
                :
                    true,
                        "showSymbolLogo"
                :
                    true,
                        "plotLineColorGrowing"
                :
                    "rgba(41, 98, 255, 1)",
                        "plotLineColorFalling"
                :
                    "rgba(41, 98, 255, 1)",
                        "gridLineColor"
                :
                    "rgba(240, 243, 250, 0)",
                        "scaleFontColor"
                :
                    "rgba(120, 123, 134, 1)",
                        "belowLineFillColorGrowing"
                :
                    "rgba(41, 98, 255, 0.12)",
                        "belowLineFillColorFalling"
                :
                    "rgba(41, 98, 255, 0.12)",
                        "belowLineFillColorGrowingBottom"
                :
                    "rgba(41, 98, 255, 0)",
                        "belowLineFillColorFallingBottom"
                :
                    "rgba(41, 98, 255, 0)",
                        "symbolActiveColor"
                :
                    "rgba(41, 98, 255, 0.12)",
                        "tabs"
                :
                    [
                        {
                            "title": "Обзор",
                            "symbols": [
                                {
                                    "s": "BITSTAMP:BTCUSDT"
                                },
                                {
                                    "s": "BITSTAMP:ETHUSDT"
                                },
                                {
                                    "s": "BITSTAMP:XRPUSDT"
                                },
                                {
                                    "s": "BINANCE:BCHUSDT"
                                },
                                {
                                    "s": "BINANCE:LTCUSDT"
                                },
                                {
                                    "s": "BITFINEX:IOTUSD"
                                }
                            ]
                        },
                        {
                            "title": "Биткоин",
                            "symbols": [
                                {
                                    "s": "BINANCE:BTCUSD",
                                    "d": "BTC/USD"
                                },
                                {
                                    "s": "COINBASE:BTCEUR"
                                },
                                {
                                    "s": "COINBASE:BTCGBP"
                                },
                                {
                                    "s": "BITFLYER:BTCJPY"
                                },
                                {
                                    "s": "CEXIO:BTCRUB"
                                },
                                {
                                    "s": "CME:BTC1!"
                                }
                            ]
                        },
                        {
                            "title": "Эфириум",
                            "symbols": [
                                {
                                    "s": "COINBASE:ETHUSD"
                                },
                                {
                                    "s": "KRAKEN:ETHEUR"
                                },
                                {
                                    "s": "KRAKEN:ETHGBP"
                                },
                                {
                                    "s": "KRAKEN:ETHJPY"
                                },
                                {
                                    "s": "BINANCE:ETHRUB"
                                },
                                {
                                    "s": "POLONIEX:ETHBTC"
                                }
                            ]
                        }
                    ]
                }
            </script>
        </div>
        <!-- TradingView Widget END -->
        <br><br>
        <h3>Объемы торгов по валютам</h3>
        <br><br>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js"
                    async>
                {
                    "width"
                :
                    "100%",
                        "height"
                :
                    700,
                        "defaultColumn"
                :
                    "overview",
                        "screener_type"
                :
                    "crypto_mkt",
                        "displayCurrency"
                :
                    "USD",
                        "colorTheme"
                :
                    "dark",
                        "locale"
                :
                    "ru",
                        "isTransparent"
                :
                    true
                }
            </script>
        </div>
        <!-- TradingView Widget END -->
    </div>
{% endblock %}