<div class="notification is-link">

    <form action="/edit_password" method=post enctype=multipart/form-data>
        <label>
            <input class="input is-large" type="password" name="password" placeholder="{{'Старый пароль'}}"
                   autofocus="">
        </label>
        <h1>Новый пароль:</h1>
        <label>
            <input class="input is-large" type="password" name="new_password" placeholder="{{'Новый пароль'}}"
                   autofocus="">
        </label>
        <label>
            <input class="input is-large" type="password" name="conf_password" placeholder="{{'Подтвердите пароль'}}"
                   autofocus="">
        </label>
        <button type="submit" name="submit" value="{{ id }}"
                class="button is-block is-info is-large is-fullwidth"
                onclick="loading();"> Ok
        </button>
    </form>
</div>